{% if claim_value.parse_type == 'item' %}
    {{ wikidata_entity(claim_value.value, claim_value.value, internal_link=True) }}
{% elif claim_value.parse_type == 'property' %}
    {{ wikidata_entity(claim_value.value.pid, claim_value.value.label) }}
{% elif claim_value.parse_type == 'url'  %}
    <a target="_blank" href="{{claim_value.value}}">{{claim_value.value}}</a>
{% elif claim_value.parse_type == 'image'  %}
    <a target="_blank" href="{{claim_value.value}}">
        <img class="property-image" src="{{claim_value.value}}" alt="image for {{item.label}}">
    </a>
{% else %}
    {{ claim_value.value }}
{% endif %}