mylang = 'wikidata'
family = 'wikidata'
usernames[family][mylang] = u'{{ wikidata.user_name }}'

authenticate['wikidata.org'] = ('{{ wikidata.user_name }}','{{ wikidata.password }}')
console_encoding = 'utf-8'
