{% extends "page.html" %}
{% block title %}About WikiDP{% endblock %}
{% block page_content %}

  <div class="about-page" id="content-frame">
    <h1>About Wikidata for Digital Preservation</h1>
    <h2>Introduction</h2>
    <p>Wikidata for Digital Preservation is a portal that provides an enhanced dashboard related to adding data about the domain of computing to Wikidata.
       We provide a streamlined interface for browsing and contributing structured data related to software and file formats to the Wikidata knowledge base.
       These tools empower us as members of the digital preservation community to edit and maintain our own technical and descriptive metadata.
    </p>
    <h2>The WikiData Team</h2>
    <ul>
      <li>Logo design by <a href="https://www.kaiachessen.com/">Kaia Chessen</a></li>
    </ul>
    <h3>Development Team</h3>
    <ul>
      <li>Katherine Thornton</li>
      <li>Kenneth Seals-Nutt</li>
      <li>Euan Cochrane</li>
      <li>Carl Wilson</li>
    </ul>
    <h2>Background Reading</h2>
    <ul>
      <li><a href="https://tools.wmflabs.org/scholia/work/Q27036465">Introducing Wikidata to the Linked Data Web</a></li>
      <li><a href="https://tools.wmflabs.org/scholia/work/Q41533080">Modeling the Domain of Digital Preservation in Wikidata</a></li>
      <li><a href="https://tools.wmflabs.org/scholia/topic/Q2013">A search via the Scholia platform for scholarly publications about Wikidata</a></li>
      <li><a href="http://www.wikidata.org/entity/Q31742273">Wikidata item of the project</a></li>  
      <li><a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Informatics">WikiProject Informatics in Wikidata</a></li>
    </ul>
    <h2>Acknowledgements</h2>
    <ul>
      <li><a href="https://meta.wikimedia.org/wiki/WikiCite_2016">Wikicite 2016</a></li>
      <li><a href="https://meta.wikimedia.org/wiki/WikiCite_2017">Wikicite 2017 </a></li>
      <li><a href="http://sulab.org/">The Su Lab</a></li>
      <li><a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Gene_Wiki">GeneWiki</a></li>
      <li><a href="https://www.clir.org/">Council on Library and Information Resources</a></li>
      <li><a href="https://sloan.org/">The Alfred P. Sloan Foundation</a></li>
      <li><a href="https://mellon.org/">The Andrew W. Mellon Foundation</a></li>
      <li><a href="http://openpreservation.org/">Open Preservation Foundation</a></li>
      <li><a href="http://www.bnf.fr/en/tools/lsp.site_map.html">Bibliothèque nationale de France</a></li>
    </ul>
    <p class="center">
      Looking for inspiration for how to contribute? Visit our inspiration page.
      <img alt="Powered By Wikidata" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Wikidata_stamp_rec.png/120px-Wikidata_stamp_rec.png">
    </p>
  </div>

{% endblock page_content %}

{% block page_scripts %}
  <script type="text/javascript">
      $("form").submit(function() {
        $('div.page-container').fadeOut(500);
      });
  </script>
{% endblock page_scripts %}
