{% extends "page.html" %}
{% block title %}Browse Formats{% endblock %}
{% block page_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron media">
      <div class="media-left">
        <img alt="Portal logo." title="portal logo" src="{{ url_for('static', filename='img/logo.jpg') }}" />
      </div>
      <div class="media-body">
        <h1 class="media-heading">WikiDP Browse Formats</h1>
        <p>
          Test listing of formats from Wikidata
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>Formats</h2>
        <table class="table table-striped">
          <tr>
            <th>QID</th>
            <th>Name</th>
            <th>Media Types</th>
          </tr>
          {% for format in formats %}
          <tr>
            <td>{{ format.qid }}</td>
            <td>{{ format.name }}</td>
            <td>{{ ' | '.join(format.media_types) }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-md-2"></div>
    </div>
{% endblock page_content %}
