{% if properties|count > 0%}
  {% for property in properties %}
        <li class="sidebar-property-li {% if property.count > 0 %}property-ok{% endif %}" data-pid="{{property.pid}}" data-label="{{property.label}}" data-count="{{property.count}}" data-type="{{property.type}}" onclick="sidebar_property_click(this)">
          <span title="{{property.label}} ({{property.pid}}): {{property.description}}" data-content-start="{{property.label}} ({{property.pid}}) "
  data-content-end=  ""></span> <div class="sidebar-property-count">: {{property.count}} </div>
        </li>
  {% endfor %}
{% else %}
  no suggested properties in this schema
{% endif %}
