
{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
{% set t = 0 %}
<link rel="styleshet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron media">
      <div class="media-left">
        <img alt="Portal logo." title="portal logo" src="{{ url_for('static', filename='img/logo.jpg') }}" />
      </div>
      <div class="media-body">
        <h1 class="media-heading">WikiDP Portal Home</h1>
        <p>
          Search for text or QID to see results here.
        </p>
      </div>
    </div>
<div class="row">
  <div class="">
    <h2 class="item">
      {{ qid[1] }}
      <a target="_blank" href="https://wikidata.org/wiki/{{qid[0]}}" class="p_or_q_id">
        ({{qid[0]}})
      </a>
    </h2>
    <p id="description">
      {{details['description']}}
    </p>
    <div class="panel panel-default alts">
      <div data-toggle="collapse" data-target="#altTable" class="panel-heading">
        Alternate Options
      </div>
      <div id="altTable" class="collapse">
        <table  class="table alternates table-responsive table-hover" id="options-list">
          {% for option in options %}
            <tr class="clickable-row opt" href="google.com">
              <td>
                <span data-toggle="tooltip" data-placement="right" title="{{option[2][0]['description']}}">
                  {{option[1]}}
                  <a target="_blank" href="https://wikidata.org/wiki/{{option[0]}}" class="p_or_q_id">
                    ({{option[0]}})
                  </a>
                </span>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% for o in options%}
  <div class="row">
    <div class="panel panel-default outer-section prev {{o[0]}}">
      <div data-toggle="collapse" data-target="#{{o[0]}}-section" class="panel-heading">
        Preview of {{o[1]}}
      </div>
      <div id="{{o[0]}}-section" class="collapse prev-claims">
        <div class="panel panel-default claims-section  col-lg-9 col-md-9 col-sm-9">
          <table  class="table claims-table table-responsive table-striped table-hover">
            <span class="tbl-cat">
              Claims
            </span>
            {% for clm in o[2][0]['claims']%}
              <tr>
                <td class="invert-col">
                  {{ clm[1] }}
                  <a target="_blank" href="https://wikidata.org/wiki/property:{{clm[0]}}" class="p_or_q_id">
                    ({{clm[0]}})
                  </a>
                </td>
                <td>
                  {% for sub in o[2][0]['claims'][clm] %}
                    <span class="detail-row">
                      {% if clm[2] == 2%}
                        {% if sub[0][0] == 'Q' %}
                          {{ sub[1] }}
                          <a target="_blank" href="https://wikidata.org/wiki/{{sub[0]}}" class="p_or_q_id">
                            ({{ sub[0] }})
                          </a>
                        {% elif sub[0][0] == 'P' %}
                          {{ sub[1] }}
                          <a target="_blank" href="https://wikidata.org/wiki/property:{{sub[0]}}" class="p_or_q_id">
                            ({{sub[0]}})
                          </a>
                        {% endif %}
                      {% elif clm[2] == 1%}
                        {% if clm[0] == 'P18' or clm[0] == 'P154' %}
                          <a target="_blank" href="{{sub}}">
                            <img src="{{sub}}" style="border:0;" width="80%">
                          </a>
                        {% else %}
                          {{ sub }}
                        {% endif %}
                      {%endif%}
                      {% if (clm[0],sub[0]) in o[2][0]['refs'] %}
                        <table class="reference-table  table-responsive table-striped table-hover">
                          {%for x in o[2][0]['refs'][(clm[0],sub[0])] %}
                            <tr>
                              <td>
                                {{ x[1] }}
                                <a target="_blank" href="https://wikidata.org/wiki/property:{{sub[0]}}" class="p_or_q_id">
                                  ({{ x[0] }})
                                </a>
                              </td>
                              <td>{{x[2]}}</td>
                            </tr>
                          {% endfor %}
                        </table>
                      {%endif%}
                      </br>
                    </span>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="panel panel-default col-lg-3 col-md-3 col-sm-3">
          <span class="tbl-cat">External Links </span>
          <table class="ex-links-table  table-responsive table-striped table-hover">
            {%for p in o[2][0]['ex-ids']%}
              <tr>
                <td>
                  {{p[1]}}
                  <a target="_blank" href="https://wikidata.org/wiki/property:{{p[0]}}" class="p_or_q_id">
                    ({{ p[0] }})
                  </a>
                </td>
                <td>
                  {%if p[3] != 'unavailable'%}
                    <a target="_blank" href="{{p[3]}}">
                      {{p[2]}}
                    </a>
                  {%else%}
                    {{p[2]}}
                  {%endif%}
                </td>
              </tr>
            {%endfor%}
          </table>
          </br>
          <span class="tbl-cat">
            Other Details
          </span>
          <table class="o[2][0]-table table-responsive table-striped table-hover">
            {%if o[2][0]['aliases'] != []%}
              <tr>
                <td>
                  Aliases
                </td>
                <td>
                  {%for p in o[2][0]['aliases']%}
                    {{p}}
                  {%endfor%}
                </td>
              </tr>
            {%endif%}
            {%if o[2][0]['description'] != []%}
              <tr>
                <td>
                  Description
                </td>
                <td id="sub_description">
                  {{o[2][0]['description']}}
                </td>
              </tr>
            {%endif%}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="panel panel-default outer-section prev {{o[0]}}">
      <div data-toggle="collapse" data-target="#{{o[0]}}-propTable" class="panel-heading">
        Statement Creation
      </div>
      <div id="{{o[0]}}-propTable" class="collapse ">
        <div class="row outerinfoTitle">
          <div class="infoTitle">
            <span class="">
              <b>{{o[1]}}</b> is a <i>subclass of</i> operating system
            </span>
          </div>
          <form>
            <div id="contact-form" class="form-container" data-form-container style="color: ''; background:'#bcbcbc' ;">
              <div class="makeClaim">
                <div class="row">
                  <span>
                    Add New Claims
                  </span>
                </div>
                <div class="input-container">
                  {% for pid in o[2][0]['properties'] %}
                    <div class="row" id="{{pid[0]}}">
                      <span class="req-input" >
                        <span class="input-status" data-toggle="tooltip" data-container="body" data-placement="top" title="{{pid[0]}}: There are currently {{pid[2]}} entries for this property.">
                        </span>
                        {{ pid[1] }}
                        <input type="text" data-min-length="2" placeholder="Enter Value Here" class="prop-text">
                        </br>
                        </br>
                        <a onclick="add_fields('{{pid[0]}}');">
                          <span class="add-input" style="color:gray; text-align:right; margin-left: 85%;font-size: 80%;">
                            +Add More
                          </span>
                        </a>
                      </span>
                    </div>
                  {% endfor %}
                  <div class="row">
                    <span class="req-input message-box">
                      <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please include a message.">
                      </span>
                      <textarea type="textarea" data-min-length="10" placeholder="Message"></textarea>
                    </span>
                  </div>
                </div>
              </div>
                <div class="row submit-row">
                  <button type="button" class="btn btn-block submit-form">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{%endfor%}

<script type="text/javascript">

  function add_fields(pid) {
    var ele = $("#"+pid).clone(true);
    $(ele).find(".prop-text").val('');
    $("#"+pid).closest("#"+pid).after(ele);
  }
  $('.opt').addClass("active");
  $(".prev").hide();
  $("."+'{{qid[0]}}').show();
  $('#options-list').on('click', '.clickable-row',
    function(event) {
      $(this).addClass("active").siblings().removeClass("active");
      var row_index = $(this).index();
      var str = $(".active").text().trim();
      var n = str.search(/Q[0-9]/);
      var end = str.length - 1;
      var id = str.substring(n, end);
      var str = str.substring(0, n-1);
      var des = $("."+id).find('#sub_description').text();
      {% set t = 0 %}
      var out = '{{options[t]}}';
      $('.item').html(str+"<span class='p_or_q_id'><a target='_blank'  href='https://wikidata.org/wiki/"+id+"'>("+id+")</a></span>");
      $('.hoveritem').html("<span  data-toggle='tooltip' data-placement='top' title='"+id+"'>"+str+"</span>")
      $('#description').html(des);
      $('#end').html(Number(row_index));
      $(".prev").hide();
      $("."+id).show();
    }
  );
  $(document).ready(
    function(){
      $('[data-toggle="tooltip"]').tooltip();
    }
  );
  $(
    function(){
      $('[data-toggle="tooltip"]').tooltip();
      $(".req-input input, .req-input textarea").on(
        "click input", function(){
          validate($(this).closest("[data-form-container]"));
        }
      );
      var currentlySelected;
      $(document).mousedown(
        function(e) {
          currentlySelected = $(e.target);
        }
      );
      $(".req-input input,  .req-input textarea").on("blur", function(e){
        var Parent = $(this).closest("[data-form-container]");
        if(typeof currentlySelected != "undefined"
            && currentlySelected.parent().hasClass("req-input")
            && Parent.attr("id") == currentlySelected.closest(".form-container").attr("id")
          )
          return;
        var length = 0;
        Parent.find("input").each(
          function(){
            length += $(this).val().length;
          }
        );
        Parent.find("textarea").each(
          function(){
          length += $(this).val().length;
          }
        );
        if(length == 0){
          var container = $(this).closest(".form-container");
          resetForm(container);
        }
      }
    );

  $(".create-account").on('click', function(){
    if($(".confirm-password").is(":visible")){
      $(this).text("Create an Account");
      $(this).closest("[data-form-container]").find(".submit-form").text("Login");
      $(".confirm-password").parent().slideUp(function(){
        validate($(this).closest("[data-form-container]"));
      });
    } else {
      $(this).closest("[data-form-container]").find(".submit-form").text("Create Account");
      $(this).text("Already Have an Account");
      $(".confirm-password").parent().slideDown(function(){
        validate($(this).closest("[data-form-container]"));
      });
    }

  });

  $("[data-toggle='tooltip']").on("mouseover", function(){
    console.log($(this).parent().attr("class"));
    if($(this).parent().hasClass("invalid")){
      $(".tooltip").addClass("tooltip-invalid").removeClass("tooltip-valid");
    } else if($(this).parent().hasClass("valid")){
      $(".tooltip").addClass("tooltip-valid").removeClass("tooltip-invalid");
    } else {
      $(".tooltip").removeClass("tooltip-invalid tooltip-valid");
    }
  });

})

function resetForm(target){
  var container = target;
  container.find(".valid, .invalid").removeClass("valid invalid")
  container.css("background", "");
  container.css("color", "");
}

function setRow(valid, Parent, len){
  var error = 0;
  if (len == 0) {
    Parent.removeClass("valid");
    Parent.removeClass("invalid");
  }
  else if(valid){
    Parent.addClass("valid");
    Parent.removeClass("invalid");
  } else {
    error = 1;
    Parent.addClass("invalid");
    Parent.removeClass("valid");
  }
  return error;
}

function validate(target){
  var error = 0;
  target.find(".req-input input, .req-input textarea, .req-input select").each(function(){
    var type = $(this).attr("type");

    if($(this).parent().hasClass("confirm-password") && type == "password"){
      var type = "confirm-password";
    }

    var Parent = $(this).parent();
    var val = $(this).val();

    if($(this).is(":visible") == false)
      return true; //skip iteration

    switch(type) {
      case "confirm-password":
        var initialPassword = $(".input-password input").val();
        error += setRow(initialPassword  == val && initialPassword.length > 0, Parent, val.length);
        break;
      case "password":
      case "textarea":
      case "text":
        var minLength = $(this).data("min-length");
        if(typeof minLength == "undefined")
          minLength = 0;
        error += setRow(val.length >= minLength, Parent, val.length);
        break;
      case "email":
        error += setRow(validateEmail(val), Parent, val.length);
        break;
      case "tel":
        error += setRow(phonenumber(val), Parent, val.length);
        break;
    }
  });

  var submitForm = target.find(".submit-form");
  var formContainer = target;
  var formTitle = target.find(".form-title");
  if(error == 0){
    formContainer.css("background", "#C8E6C9");
    // formContainer.css("color", "#2E7D32");
    submitForm.addClass("valid");
    submitForm.removeClass("invalid");
        return true;
  } else {
    formContainer.css("background", "#f7e8e8");
    // formContainer.css("color", "#C62828");
    submitForm.addClass("invalid");
    submitForm.removeClass("valid");
        return false;
  }
}
function phonenumber(inputtxt) {
  if(typeof inputtxt == "undefined")
    return;
  var phoneno = /^\d{10}$/;
  if((inputtxt.match(phoneno))) {
    return true;
  }
  else {
    return false;
  }
}

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  }

</script>
{% endblock page_content %}
