{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<link rel="styleshet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <div class="jumbotron media">
      <div class="media-left">
        <img alt="Portal logo." title="portal logo" src="{{ url_for('static', filename='img/logo.jpg') }}" />
      </div>
      <div class="media-body">
        <h1 class="media-heading">WikiDP Portal Home</h1>
        <p>
          Search for text or QID to see results here.
        </p>
      </div>
    </div>

    {% endblock page_content %}