{% extends "item.html" %}

{% block item_content %}
  {% if session.username  %}
    <div
      class="no-pad"
      id="statement-creation-frame"
    >
      <div id="creation-panel">
        <div id="creation-div">
          <span class="creation-section-header text-medium">
            CREATE A CLAIM
          </span>
          <br />
          <span class="creation-section-subtitle">
            Select a property below and we will provide you
            with a pre-formatted textbox.
          </span>
          <br />
          <div id="statement-div"></div>
          <div id="statement-actions"></div>
        </div>
        <div id="claims-list">
          <span class="creation-section-header text-medium">
            MY CLAIMS
          </span>
          <br />
          <span class="creation-section-subtitle">
            Currently Signed in as {{ session.username }}
          </span>
          <ul id="added-claims">
            <li id="claimsMessage">
            </li>
            <li id="saveClaimsLi" style="display:none">
              <button
                class="white contribute-action-btn"
                id="saveClaimsBtn"
                onclick="saveClaims()"
              >
                SAVE TO WIKIDATA
              </button>
            </li>
            <li
              id="goToClaimsLi"
              style="display:none"
            >
              <a
                href="{{ item.url }}"
                target="_blank"
              >
                <button
                  class="white contribute-action-btn"
                  id="goToClaimsBtn"
                >
                  VIEW IN WIKIDATA
                </button>
              </a>
            </li>
            <li
              id="clearClaimsLi"
              style="display:none"
            >
              <button
                class="white contribute-action-btn"
                id="clearClaimsBtn"
                onclick="resetForm()"
              >
                RESET FORM
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div id="lookup-panel">
        <div
          id="lookup-header-div"
          class="text-small"
        >
          looking for an item id?
          <br />
          <input
            aria-label="Item Lookup Input"
            class="center glow white"
            id="lookup-input"
            placeholder="search here"
          >
        </div>
        <div id="lookup-results-div">
          <ul id="lookup-results-list">
          </ul>
        </div>
      </div>
    </div>
    {% include "snippets/contribute_input_templates.html" %}
	{% else %}
    <span class="creation-section-header text-medium">
      You are not currently logged in.
    </span>
    <br />
		<button
      class="white login contribute-action-btn"
      onclick="oauthController.initiate(null, null)"
    >
      Login using Wikidata OAuth
    </button>
	{% endif %}
{% endblock item_content %}

{% block item_page_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css" />
  <script src="{{ url_for('static', filename='vendor/clipboard.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/item_contribute.js', cb="20210206") }}" type="text/javascript"></script>
{% endblock item_page_scripts %}
