{% extends "page.html" %}

{% block title %}
    {{item.label}} ({{item.qid}}): {{page|capitalize}}
{% endblock title %}

{% block page_content %}
    <div id="panel-frame" class="{{page}}-page center" data-qid="{{item.qid}}" data-item_page="{{page}}">
      <div id="sidebar-frame">
            {% include "snippets/item_sidebar.html" %}
      </div>
      <div id="content-frame" class="white">
        <div id="{{page}}-div">
            <div id="header-text" class="center">
                <span id="preview-item-name">
                    {{wikidata_entity(item.qid, item.label)}}
                </span>
                <br>
                {% if item.description %}
                    <span id="preview-item-description" class="text-medium" title="{{item.description}}">
                        {# TODO: Support Translation of Descriptions #}
                        {{item.description}}
                    </span>
                {% endif %}
                <div id="languageSelectDiv">
                    Language:
                    {# TODO: Make API Call to Sync with all Wikidata Languages #}
                    <select name="" id="languageSelect"  aria-label="Select a Language for Item Labels">
                      {% for code, name in languages %}
                        <option value="{{ code }}">{{ name }}</option>
                      {% endfor %}
                    </select>
                </div>
            </div>
            {% block item_content %}
            {% endblock item_content %}
        </div>
      </div>
    </div>
{% endblock page_content %}

{% block page_scripts %}
  <script type="text/javascript">
    const QID_OPTIONS = {{ options|tojson }};
  </script>
    {% include "snippets/item_templates.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="{{ url_for('static', filename='js/item.js', cb="20201113") }}" type="text/javascript"></script>
    {% block item_page_scripts %}
    {% endblock item_page_scripts %}
{% endblock page_scripts %}
