{% extends "page.html" %}
{% block title %}Reports{% endblock %}
{% block page_content %}
<div class="reports-page middle white" id="content-frame">
  <div id="header-text" class="center">
    <span id="preview-item-name" class="reports-header">Reports</span>
    <br>
    <span id="preview-item-description" class="text-medium">Need a description summarizing the purpose of the queries
    . Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, unde!</span>
  </div>
  <div class="reports-section" id="queries">
    <div class="reports-section-header">
      Wikidata Queries
    </div>
    <ul class="no-pad">
      <li>
        <div class="query-title glow click" onclick="addQuery('query1', 1); $(this).next().animate({height: 'toggle', opacity: 'toggle',}, 'slow')">
          Number of software titles recorded <span id="count1" />
        </div>
        <div class="center" hidden>
          <iframe name="query1" id="query1" class="query-frame middle center" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
        </div>
      </li>
      <li>
        <div class="query-title glow click" onclick="addQuery('query2', 2); $(this).next().animate({height: 'toggle', opacity: 'toggle',}, 'slow')">
          Number of file formats recorded <span id="count2" />
        </div>
        <div class="center" hidden>
          <iframe name="query2" id="query2"  class="query-frame middle center" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
        </div>
      </li>
      <li>
        <div class="query-title glow click" onclick="addQuery('query3', 3); $(this).next().animate({height: 'toggle', opacity: 'toggle',}, 'slow')">
          Number of PRONOM Unique Identifiers recorded <span id="count3" />
        </div>
        <div class="center" hidden>
          <iframe name="query3" id="query3" class="query-frame middle center" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
        </div>
      </li>
      <li>
        <div class="query-title glow click" onclick="addQuery('query4', 4); $(this).next().animate({height: 'toggle', opacity: 'toggle',}, 'slow')">
          Number of file signatures described <span id="count4" />
        </div>
        <div class="center" hidden>
          <iframe name="query4" id="query4" class="query-frame middle center" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
        </div>
      </li>
      <li>
        <div class="query-title glow click" onclick="addQuery('query5', 5); $(this).next().animate({height: 'toggle', opacity: 'toggle',}, 'slow')">
          Number of emulators recorded <span id="count5" />
        </div>
        <div class="center" hidden>
          <iframe name="query5" id="query5" class="query-frame middle center" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
        </div>
      </li>
      <li>
        <div class="query-title glow click" onclick="addQuery('query6', 6); $(this).next().animate({height: 'toggle', opacity: 'toggle',}, 'slow')">
          Number of file systems recorded <span id="count6" />
        </div>
        <div class="center" hidden>
          <iframe name="query6" id="query6" class="query-frame middle center" src="" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
        </div>
      </li>
    </ul></div>
</div>
  <script type="text/javascript">
    var endpointUrl = 'https://query.wikidata.org/sparql';
    var endpointEmbedUrl = 'https://query.wikidata.org/embed.html#';
    var sparqlQueries = [
      "SELECT ?item ?itemLabel \n" +
      "WHERE { \n" +
      "  ?item wdt:P31/wdt:P279* wd:Q7397. \n"
    ,
      "SELECT ?item ?itemLabel \n" +
      "WHERE { \n" +
      "  ?item wdt:P31/wdt:P279* wd:Q235557. \n"
    ,
      "SELECT ?item ?itemLabel ?puid \n" +
      "WHERE { \n" +
      "  ?item wdt:P2748 ?puid. \n"
    ,
      "SELECT ?item ?itemLabel ?signature ?encodingLabel \n" +
      "WHERE { \n" +
      "  ?item wdt:P31/wdt:P279* wd:Q235557. \n" +
      "  ?item p:P4152 ?signatureStmt. \n" +
      "  ?signatureStmt ps:P4152 ?signature. \n" +
      "  ?signatureStmt pq:P3294 ?encoding. \n"
    ,
      "SELECT ?item ?itemLabel \n" +
      "WHERE { \n" +
      "  ?item wdt:P31/wdt:P279* wd:Q202871. \n"
    ,
      "SELECT ?item ?itemLabel \n" +
      "WHERE { \n" +
      "    ?item wdt:P31/wdt:P279* wd:Q174989. \n"
    ];

    var labelServiceStmt =
      "  SERVICE wikibase:label { bd:serviceParam wikibase:language \"[AUTO_LANGUAGE],en\". } ";
    var limitStmt = " LIMIT 100";

    function addQuery(iframeName, number) {
      var $iframe = $('#' + iframeName);
      if ( $iframe.length ) {
        var isThereAQuery = $iframe.attr('src');
        if ( isThereAQuery == '') {
          // First time : the query has to be run
          // Make a first request to COUNT the number of items
          var countQuery = "SELECT (COUNT(*) AS ?number) WHERE { " +
            sparqlQueries[number - 1] + labelServiceStmt + " } " + "}";
          var settings = {
            headers: { Accept: 'application/sparql-results+json' },
            data: { query: countQuery }
          };
          $.ajax( endpointUrl, settings ).then( function ( data ) {
              var counter = data['results']['bindings'][0]['number']['value'];
              $('#count' + number).text("(" + counter + ")");
              // Embed the query and show the first 100 items
              var query = sparqlQueries[number - 1] + labelServiceStmt + " } " + limitStmt;
              $iframe.attr('src', encodeURI(endpointEmbedUrl + query));
          } );
          return false;
        }
      }
      return true;
    }

    $("form").submit(function(){
    $('div.page-container').fadeOut(500);
});

  </script>

    {% endblock page_content %}
