{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}

<div class="welcome-div">
	<div class="greeting-message"><img alt="Portal logo." title="portal logo" src="{{ url_for('static', filename='img/WikiData_Logo.png') }}" /> </div>
	<div id="searchbar_container">
		<form action="/search" method="POST" role="search">
		<input class="welcome-searchbar" type="" name="userInput" aria-label="site search input" placeholder="search for file formats, software applications, software environments, etc ....">
		<button name="submit-search" type="submit" aria-label="site search submit">
		<span class="glyphicon glyphicon-search"></span> </button>
		</form>
	</div>
</div>

{% block page_scripts %}
  <script type="text/javascript">
      $("form").submit(function() {
        $('div.page-container').fadeOut(500);
      });
  </script>
{% endblock page_scripts %}

{% endblock page_content %}
