
{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
{% set t = 0 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron media">
      <div class="media-left">
        <img alt="Portal logo." title="portal logo" src="{{ url_for('static', filename='img/logo.jpg') }}" />
      </div>
      <div class="media-body">
        <h1 class="media-heading">WikiDP Prototype Portal User's Home</h1>
        <p>
          Test pulling information from input QID's from Wikidata
        </p>
      </div>
    </div>




    <div class="row">

      <div class=""></div>
      <div class="">
        <h2 id="item">{{ qid[1] }} <a target="_blank" href="https://wikidata.org/wiki/{{qid[0]}}" class="p_or_q_id"> ({{ qid[0] }})</a></h2>
        <p id="description">{{details['description']}}</p>
        <div class="panel panel-default alts">
          
          <div data-toggle="collapse" data-target="#altTable" class="panel-heading">Alternate Options</div>
          <div id="altTable" class="collapse">


            <table  class="table alternates table-responsive table-hover" id="options-list">
              {% for option in options %}
              <tr class="clickable-row opt" href="google.com">
                <td>{{ option[1] }}<a target="_blank" href="https://wikidata.org/wiki/{{option[0]}}" class="p_or_q_id"> ({{ option[0] }})</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div></div>
      <div class="">
        <div class="panel panel-default outer-section">
          <div data-toggle="collapse" data-target="#propTable" class="panel-heading">Properties</div>
          <div id="propTable" class="collapse">
            <table class="table table-responsive table-striped table-hover">
              {% for pid in properties %}
              <tr>
                <td>{{ pid }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div> 

      </div>
      
    


        

{% for o in options%}
<div class="panel panel-default outer-section prev {{o[0]}}">

      <div data-toggle="collapse" data-target="#{{o[0]}}-section" class="panel-heading">
        Preview of {{o[1]}}
      </div>
      <div id="{{o[0]}}-section" class="collapse">
       <div class="panel panel-default claims-section  col-lg-9 col-md-9 col-sm-9">
          <table  class="table claims-table table-responsive table-striped table-hover">
            <span class="tbl-cat">Claims </span>
            {% for clm in o[2][0]['claims']%} 
            <tr>
              <td class="invert-col">{{ clm[1] }} <a target="_blank" href="https://wikidata.org/wiki/property:{{clm[0]}}" class="p_or_q_id"> ({{ clm[0] }})</a>
              </td>
              <td>
              {% for sub in o[2][0]['claims'][clm] %}
                <span class="detail-row"> 
                  {% if clm[2] == 2%}
                    {%if sub[0][0] == 'Q'%}
                      {{ sub[1] }} <a target="_blank" href="https://wikidata.org/wiki/{{sub[0]}}" class="p_or_q_id"> ({{ sub[0] }})</a> 
                    {%elif sub[0][0] == 'P'%}
                      {{ sub[1] }} <a target="_blank" href="https://wikidata.org/wiki/property:{{sub[0]}}" class="p_or_q_id"> ({{ sub[0] }})</a> 
                    {%endif%}
                  {% elif clm[2] == 1%}
                    {{ sub }}
                    {%endif%}
                    {% if (clm[0],sub[0]) in o[2][0]['refs'] %}
                      <table class="reference-table  table-responsive table-striped table-hover"> 
                        {%for x in o[2][0]['refs'][(clm[0],sub[0])] %}
                        <tr>
                          <td>{{ x[1] }}
                          <a target="_blank" href="https://wikidata.org/wiki/property:{{sub[0]}}" class="p_or_q_id"> ({{ x[0] }})</a></td>
                          <td>{{x[2]}}</td>
                        </tr>
                      {% endfor %}</table>
                    {%endif%}
                  </br>
                </span> 
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="panel panel-default col-lg-3 col-md-3 col-sm-3"> 
        <span class="tbl-cat">External Links </span>
        <table class="ex-links-table  table-responsive table-striped table-hover">
          {%for p in o[2][0]['ex-ids']%}
          <tr>
            <td> {{p[1]}}<a target="_blank" href="https://wikidata.org/wiki/property:{{p[0]}}" class="p_or_q_id"> ({{ p[0] }})</a>
            </td>
            <td> <a target="_blank" href="{{p[3]}}">{{p[2]}}</a></td>
          </tr>
          {%endfor%}
        </table>
        </br>
        <span class="tbl-cat">Other Details </span>
        <table class="o[2][0]-table  table-responsive table-striped table-hover">
          {%if o[2][0]['aliases'] != []%}
          <tr>
            <td>Aliases</td>
            <td>
            {%for p in o[2][0]['aliases']%}
              {{p}}
            {%endfor%}
            </td>
          </tr>
          {%endif%}
          {%if o[2][0]['description'] != []%}
          <tr>
            <td>Description</td>
            <td id="sub_description">
            {{o[2][0]['description']}}
            </td>
          </tr>
          {%endif%}
        </table>
        
      </div>
      




      </div>

</div>
{%endfor%}

  </div><span id="end"></span>
      <span id="end2"></span>
    <script type="text/javascript">
    $('.opt').addClass("active");
    $(".prev").hide();
    $("."+'{{qid[0]}}').show();
    $('#options-list').on('click', '.clickable-row', function(event) {

  
          $(this).addClass("active").siblings().removeClass("active");
          var row_index = $(this).index();
          var str = $(".active").text().trim();
          var n = str.search(/Q[0-9]/);
          var end = str.length - 1;
          var id = str.substring(n, end);
          var str = str.substring(0, n-1);

          var des = $("."+id).find('#sub_description').text();
          {% set t = 0 %}
          var out = '{{options[t]}}';
          $('#item').html(str+"<span class='p_or_q_id'><a target='_blank'  href='https://wikidata.org/wiki/"+id+"'>("+id+")</a></span>");
          $('#description').html(des);
          $('#end').html(Number(row_index));
          
          $(".prev").hide();
          $("."+id).show();



      });

    
    </script>


{% endblock page_content %}
 

