nav.navbar.navbar-inverse.navbar-fixed-top{
    background: #13181d;
    border: none;
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.65);
}
.container>.navbar-header {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
nav.navbar a.navbar-brand{
    color: #cacaca;
    font-weight: bold;
}
nav.navbar a.navbar-brand:hover {
    color: #e3f1fd;
}
#navbar div.input-group {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}
#navbar input.form-control, #navbar div.input-group button {
    background: none;
    color: white;
    border: none;
    text-shadow: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}
button#search-btn, button#search-reset {
    outline: none;
}
#navbar div.input-group button {
    color: white;
    opacity: .5;
}
#navbar div.input-group button:hover {
    opacity: 1;
}
#navbar div.input-group button#search-btn{
    font-size: 19px;
    padding: 0;
    color: white;
}
#navbar div.input-group button#search-reset{
    font-size: 10px;
    padding-bottom: 0;
}
ul.nav.navbar-nav {
    list-style: none;
    text-align: center;
    padding-left: calc(50% - 205px);
}

div.outer-list-div {
    margin-left: 225px;
    width: calc(100% - 450px);
    position: absolute;
}

    ul.nav.navbar-nav li {
        display: inline;
    }

#navbar ul li a {
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: lowercase;
    margin: 0 20px;
}
#navbar ul li a:hover {
    opacity: .5;
}
a.navbar-brand {
    font-size: 20px;
    text-align: center;
    line-height: .5;
}

form.navbar-form.navbar-right {
    /* margin-right: 0px; */
     display: none;
    position: absolute;
    background: #13181d;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    margin-right: 125px;
    width: calc(100% - 330px);
    right: 0;
    text-align: center;
    z-index: 5;
}
span#nav-header-subtitle {
    font-size: 8px;
}
nav.navbar .container {
    padding: 0;
    width: 100%;
}
nav.navbar .container img {
    opacity: .7;
    background: rgb(116, 173, 208);
    height: 51px;
    margin-right: 20px;
    box-shadow: inset 0px 0px 13px 1px rgb(32, 73, 97);
    /*left: -15px;*/
    position: relative;
}
div#side-icons {
    height: 50px;
    position: relative;
    margin-right: 25px;
}
.side-icon-div:hover {
    opacity: 1;
    cursor: pointer;
}
.side-icon-div {
    color: white;
    display: inline-block;
    font-size: 20px;
    position: relative;
    margin-right: 10px;
    top: 25%;
    opacity: .2;
    /* bottom: 0; */
}





/*effect-underline thanks to https://codepen.io/colloque/pen/bDgmx */
a.effect-underline:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
