* {
  outline: none !important;
  box-sizing: border-box;
}
input {
  box-shadow: none !important;
}
html {
  height: 100%;
}
h4{
  font-size: 30px;
}
select {
  cursor: ns-resize;
}
ul {
  list-style: none;
}
body {
  height: 100%;
  background: #24303a;
}
table {
  width: 100%;
  table-layout: fixed;
}
td {
  word-wrap: break-word;
}
.row-div {
  display: flex;
}
.page-container {
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  top: 50px;
  display: none;
}
.center{
  text-align: center;
}
.middle {
  margin: 0 auto;
}
.no-pad{
  padding: 0;
}
.text-small {
  font-size: 12px;
}
.text-medium {
  font-size: 20px;
}
.white{
  color: white !important;
}
.white::placeholder {
  color: white !important;
}
.glow{
  opacity: .9;
}
.glow:hover, .glow:focus {
  opacity: 1;
}
.click{
  cursor: pointer;
}
a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}
a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a.wd-id {
  font-size: 75%;
  text-decoration: none;
  color: #00e6ea;
}
.scroll-highlight {
  text-shadow: 0 0 6px #f0f8ff;
  border: 10px solid #f0f8ff;
  transition: all 0.2s ease-in-out 0.2s;
}
/* navbar */
#main-navbar {
  background: #13181d;
  border: none;
  box-shadow: 0 0 13px 6px rgba(0, 0, 0, 0.65);
}
#main-brand {
  color: #cacaca;
  font-weight: bold;
  line-height: .5;
}
#main-brand:hover {
  color: #e3f1fd;
}
.input-group {
  width: 50%;
  border-bottom: 1px solid white;
}
.nav-input,
.btn-nav {
  background: none;
  border: none;
  text-shadow: none;
  font-weight: 200;
  letter-spacing: 2px;
}
#main-nav-tabs {
  padding-left: calc(50% - 205px);
}
#main-nav-tabs-container {
  margin-left: 225px;
  width: calc(100% - 450px);
  position: absolute;
}
#main-nav-tabs li {
  display: inline;
}
.nav-link {
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: lowercase;
  margin: 0 20px;
}
.nav-link:hover {
  opacity: .5;
}
#navbarSearch {
  display: none;
  position: absolute;
  background: #13181d;
  height: 100%;
  padding: 5px;
  margin: 0 125px 0 auto;
  width: calc(100% - 330px);
  right: 0;
  z-index: 5;
}
#nav-header-subtitle {
  font-size: 8px;
}
#nav-container{
  width: 100%;
}
#nav-logo {
  background: rgb(202, 202, 202);
  height: 51px;
  margin-right: 20px;
  position: relative;
}
#side-icons {
  height: 50px;
  position: relative;
  margin-right: 25px;
}
.side-icon-div {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  top: 25%;
}
/* end navbar */
/*welcome page*/
div.welcome-div{
  padding-top: 5%;
  width: 80%;
}
#welcome-logo {
  max-width: 36%;
}
.welcome-searchbar {
  width: 90%;
  background: none;
  border: none;
  font-weight: 300;
  padding: 8px;
  opacity: .9;
}
#searchbar-container {
  width: 63%;
  background: #202931;
  border-radius: 25px;
  border: 0 solid black;
  font-weight: 100;
  padding: 8px;
  color: #3ae5fb;
  box-shadow: inset 0 0 14px 0 rgba(22, 28, 33, 0.61);
}
.welcome-searchbar::placeholder {
  font-weight: 300;
  letter-spacing: 1px;
}
#searchbar-container button{
  background: none;
  border: none;
}
/*end welcome page*/
/*search_result page*/
.search-results-div {
  margin-top: 25px;
}
#search-option-list {
  margin: 0 auto 200px;
  width: 80%;
}
#search-option-list li {
  color: rgb(0, 0, 0);
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 15px;
  background: #3ae5fb;
  width: 95%;
  margin: 15px auto;
  border-radius: 22px;
}
.search-result-label {
  font-size: 25px;
  font-weight: 600;
}
.search-result-id,
.sub-aka {
  font-weight: 400;
}
.search-result-description {
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
}
.search-result-aliases {
  font-size: 15px;
  letter-spacing: 1px;
}
.search-result-aliases b{
  font-weight: 400;
}
/*end search_result page*/
/*frame for preview and creation pages*/
#panel-frame{
  height: 100%;
  width: 100%;
  display: flex;
}
#panel-frame div {
  vertical-align: top;
}
#preview-div a.p_or_q_id {
  color: #00f9ff;
}
table.ex-links-table a {
  color: #ff00bc;
}
select#languageSelect {
  background: none;
}
#claims-scroller a {
  color: #ff00bc;
}
#sidebar-frame {
  height: 100%;
  width: 15%;
  background: rgb(26, 218, 222);
}
.contribute-page #sidebar-frame {
  background: #e4ae2b;
}
#sidebar-div {
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
#option-select,
#schema-select {
  width: 95%;
  background: none;
  color: #3a3a3a;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  margin: 5px;
}
.sidebar-header {
  color: rgba(58, 58, 58, 1);
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 500;
}
.selected-item-div {
  margin: 0 5px;
  padding-bottom: 15px;
}
#content-frame {
  width: 85%;
  min-height: 100%;
  padding-top: 20px;
  overflow-y: scroll;
}
.property-overview-div {
  margin: 10px 5px;
  padding: 15px 5px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.8;
  border-bottom: 1px solid rgba(220, 220, 220, 0.63);
  border-top: 1px solid rgba(220, 220, 220, 0.63);
}
#sidebar-property-scroller {
  overflow-y: scroll;
  height: calc(100% - 25px);
}
.sidebar-property-li{
  display: block;
  text-align: left;
}
.sidebar-property-count {
  display: inline;
  float: right;
}
.sidebar-property-li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: '\002b';
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: rgba(0, 0, 0, 0.2);
}
.sidebar-property-li.property-ok:before {
  content: '\e013';
  color: white;
}
.sidebar-property-li .sidebar-qualifier {
  text-indent: 5px;
}
#sidebar-property-list span::before, #sidebar-property-list span::after {
  display: inline-block;
  max-width: 75%;
  overflow: hidden;
  white-space: pre;
  vertical-align: middle;
}
#sidebar-property-list span::before {
  content: attr(data-content-start);
  text-overflow: ellipsis;
}
#sidebar-property-list span::after {
  content: attr(data-content-end);
  text-overflow: clip;
  direction: rtl;
}
.sidebar-property-li.property-ok {
  color: #434646 !important;
}
.actions-div {
  width: 100%;
  margin-bottom: 15px;
  font-weight: 600;
}
.sidebar-action-li {
  background: #444646;
  padding: 10px;
  color: lightgrey;
}
/*Preview Button*/
#preview-action {
  border-bottom: 2px solid #444646;
  border-top: 2px solid #444646;
}
#preview-action.preview-on {
  background: #333333;
  border-right: 3px solid #52c7ca;
  color: #52c7ca;
}
#preview-action:hover {
  color: #3d9698;
  background: #333333;
}
/*Contribute*/
#contribute-action:hover {
  color: #e4ae2b;
  background: #333333;
}
#contribute-action.contribute-on {
  background: #333333;
  border-right: 3px solid  #e4ae2b;
  color: #e4ae2b;
  border-bottom: 2px solid #444646;
  border-top: 2px solid #444646;
}
#explore-action:hover {
  color: #e42b7d;
  background: #333333;
}
/*end frame for preview and creation pages*/
/*preview page*/
#preview-div {
  height: calc(100% - 20px);
}
.table-header-div {
  border-bottom: 1px solid white;
  height: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0ff2f8;
}
.table-header-div a {
  color: inherit;
}
#header-text {
  width: 100%;
  padding: 0 10%;
  margin-bottom: 15px;
}
#preview-item-name {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}
#preview-item-description {
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
}
#claims-div {
  width: 70%;
  padding: 0 20px;
  float: left;
  height: calc(100% - 100px);
  position: relative;
}
#claims-div img.property-image {
  max-width: 80%;
  width: inherit;
}
#claims-scroller {
  height: calc(100% - 30px);
  width: 100%;
  overflow-y: scroll;
}
#other-info-div {
  width: 30%;
  padding: 0 20px 0 0;
  height: calc(100% - 100px);
  float: right;
}
#other-info-scroller {
  height: calc(100% - 30px);
  width: 100%;
  overflow-y: scroll;
}
#preview-div tr>td {
  padding: 20px;
  font-weight: 400;
  font-size: 114%;
  letter-spacing: 1px;
  vertical-align: middle;
}
#preview-div tr {
  border-top: 20px solid rgb(37, 48, 58);
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background: #455b6d;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgba(179, 202, 220, 0.12);
}
#claims-scroller .metadata-table {
  width: 85%;
  margin: 5px auto;
  border: 0;
}
#preview-div .metadata-table tr td {
  padding: 10px 2px;
}
#preview-div .metadata-table tr {
  border-top: none;
  border-bottom: 1px solid;
  background: none;
}
img.property-image{
  display: none;
  width: 80%;
  border: 0;
}
/*end preview page*/
/*Contribute Page*/
#statement-creation-frame {
  height: calc(100% - 100px);
  width: 100%;
}
#creation-panel {
  height: 95%;
  width: 70%;
  display: inline-block;
  /*background: #455b6d;*/
}
#create-claim-property{
  background: none;
}
.create-claim-value-div {
  display: inline;
}

#lookup-panel {
  width: 25%;
  margin-left: 1%;
  height: 95%;
  display: inline-block;
  background: rgba(179, 202, 220, 0.12);
}
#lookup-results-div{
  height: calc(100% - 70px);
  overflow-y: scroll;
}
#creation-div {
  background: #32434f;
  min-height: 100px;
  margin-bottom: 15px;
  opacity: 1;
  padding: 20px 0;
}
.contribute-action-btn {
  background: none;
  border: 2px solid;
  padding: 19px 20%;
  font-weight: bold;
  margin: 50px 0 10px;
}
.contribute-action-btn:hover {
  background: #ffffff2b;
}
.claim-value {
  width: calc(80% - 30px);
  letter-spacing: 2px;
  font-weight: 300;
  background: none;
  border: none;
}
.contribute-input-close {
  margin-bottom: 10px;
  margin-left: -25px;
  vertical-align: bottom;
  cursor: pointer;
}
#statement-actions button {
  background: #465c6d;
  border: 1px solid white;
  cursor: copy;
  margin: 0 5px;
}
.btn-off {
  cursor: not-allowed !important;
  opacity: .5 !important;
}
#claims-list {
  background: #32434f;
  min-height: calc(100% - 115px);
  padding: 20px 0;
}
#lookup-header-div {
  color: #ffb400;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 20px;
}
.creation-section-header{
  color: #ffb400;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 40px;
}
.creation-section-subtitle {
  font-weight: 100;
  letter-spacing: 1px;
}
#creation-property-div {
  padding-top: 10px;
  width: 30%;
  display: inline-block;
}
#create-claim-property {
  width: 90%;
}
.create-claim-value-div {
  width: 69%;
  display: inline-block;
  vertical-align: bottom !important;
  margin-bottom: 10px;
}
#added-claims {
  height: calc(100% - 55px);
  margin: 10px auto;
  width: 90%;
  overflow-y: scroll;
}
.added-claim-li {
  margin: 10px;
  font-weight: 400;
  letter-spacing: 1px;
}
.added-property-div {
  width: 20%;
  flex: 1;
  display: inline-block;
  padding: 15px;
  background: #747b80;
}
li.String div.added-property-div {
  background: #4bded4;
}
li.url div.added-property-div {
  background: #9864cc;
}
li.WikibaseItem div.added-property-div {
  background: rgb(228, 174, 43);
}
li.ExternalId div.added-property-div {
  background: #ce3c55;
}
div.added-value-div {
  line-height: 1.2;
  position: relative;
  width: 70%;
  display: inline-block;
  padding: 15px;
  flex:3;
  background: #676e73c4;
}
#added-claims li i {
  letter-spacing: 1px;
}
li.String div.added-value-div {
  background: rgba(76, 221, 211, 0.5);
}
li.url div.added-value-div {
  background: rgba(171, 114, 230, 0.43);
}
li.WikibaseItem div.added-value-div {
  background: rgba(228, 174, 43, 0.7);
}
li.ExternalId div.added-value-div {
  background: #d63056b5;
}
#lookup-input {
  padding-top: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid;
  font-size: 15px;
  width: 95%;
  font-weight: 100;
  letter-spacing: 1px;
}
.lookup-result-li {
  margin: 20px 10px 0 10px;
}
.lookup-result-li .result-sub {
  display: none;
}
.result-main{
  padding: 5px 10px;
  color: black;
  background: rgb(255, 180, 0);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
  position: relative;
}
.clipboardBtn:hover {
  cursor: alias;
}
.clipboardBtn {
  background: none;
  border: none;
  margin: 0;
}
.result-label {
  font-size: 15px;
  letter-spacing: 1px;
}
.result-main .glyphicon {
  text-align: right;
  position: absolute;
  top: calc(100% - 24px);
  left: -5px;
  vertical-align: initial;
  width: 100%;
  color: rgb(204, 150, 21);
}
.result-sub {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  background: white;
  color: rgb(0, 0, 0);
  padding: 5px;
}
#creation-div div {
  vertical-align: middle;
}
.selectize-control.property-selector {
  display: inline-block;
  width: calc(100% - 1em);
  margin-left: -10px;
}
#statement-div {
  padding: 15px;
}
.contribute-input-div {
  border-bottom: 1px solid;
  padding-left: 0;
  margin-bottom: 15px;
}
.selectize-control.property-selector .selectize-input:not(.dropdown-active) {
  background: none;
  color: #ffb500;
  border: none;
  border-bottom: 3px solid;
  border-radius: 0;
  bottom: -2px;
}
.selectize-control.property-selector .selectize-input:not(.dropdown-active)::after{
  border-top-color: #ffb500;
}
.selectize-control.property-selector .selectize-dropdown-content > div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  text-align: left !important;
}
.selectize-control.property-selector .selectize-dropdown > div {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.selectize-control.property-selector .selectize-dropdown .by {
  opacity: 0.8;
  color: #92711f;
}
.selectize-control.property-selector .selectize-dropdown .by::before {
  content: '  ';
}
.selectize-control.property-selector .selectize-dropdown .name {
  font-weight: bold;
  margin-right: 5px;
}
.selectize-control.property-selector .selectize-dropdown .title {
  display: block;
}
.selectize-control.property-selector .selectize-dropdown .description {
  display: block;
  color: #a0a0a0;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.selectize-control.property-selector .selectize-dropdown .meta {
  list-style: none;
  margin: 0;
  font-size: 10px;
}
.selectize-control.property-selector .selectize-dropdown .meta li {
  display: inline;
  margin: 0 10px 0 0;
}
.selectize-control.property-selector .selectize-dropdown .meta li span {
  font-weight: bold;
}
.selectize-control.property-selector::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 12px;
  right: 34px;
  width: 16px;
  height: 16px;
  /*background: url(images/spinner.gif);*/
  background-size: 16px 16px;
  opacity: 0;
}
.selectize-control.property-selector.loading::before {
  opacity: 0.4;
}
.selectize-control.property-selector .selectize-input > input {
  width: initial !important;
}
/*End Contribute Page*/
/*About Page*/
div.about-page, div.reports-page {
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 15px;
}
.about-page a {
  color: #95dcff;
  font-weight: 400;
}
/*End About Page*/
/*Reports Page */
.query-frame {
  width: 95%;
  padding: 25px;
  border: 6px solid #e9eaeb;
  border-top: none;
  background: white;
  height: 50vh;
}
#queries {
  font-size: 150%;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 20px;
}
.reports-section-header {
  padding-left: 3vw;
  border-bottom: 1px solid;
  margin-bottom: 25px;
  font-size: 130%;
}
.query-title {
  background: white;
  color: #25303a;
  padding: 3px 5%;
  font-weight: 500;
}
.reports-section ul li {
  margin-bottom: 10px;
}
.modal-header {
  padding:35px 50px;
  background-color: #24303a;
}
.modal-body {
  padding:40px 50px;
  background: #a3bcd2;
}
.modal-body input {
    background: #92abc0;
    border: none;
    color: white;
}

.modal-body input::placeholder {
    color: white;
}

.modal-footer {
  background-color: #a3bcd2;
  border: none;
}

.modal-footer a {
    color: white;
}
#loginModal button.btn.btn-success.btn-block {
  background: #243039;
  border: none;
}
#loginModal button.btn.btn-danger.btn-default.pull-left {
  background: #a5a5a5;
  border-color: #a5a5a5;
}

.jumbotron img {
  float: left;
}

button.login {
  color: black;
}
